<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="EveryPay" >
<head>
    <title>TodoPagos</title>
    <meta charset="utf-8" />

    <link rel="shortcut icon" type="image/x-icon" href="fonts/icon.ico" />

    <script src="../scripts/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/metisMenu.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/sb-admin-2.css" />
    <link rel="stylesheet" type="text/css" href="Content/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/toaster.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/angular-datepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/ng-table.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/c3.min.css" />
     <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"/>


    <!--Librerias js aqui-->
    
   


    <script src="../scripts/lib/angular/bootstrap.js"></script>

    <script src="../scripts/lib/angular/angular.min.js"></script>
    <script src="../scripts/lib/angular/angular-route.min.js"></script>




    <script src="../scripts/lib/theme/metisMenu.min.js"></script>
    <script src="../scripts/lib/theme/sb-admin-2.js"></script>
    <script src="../scripts/lib/moment/moment.min.js"></script>
    <script src="../scripts/lib/c3/d3.min.js"></script>
    <script src="../scripts/lib/c3/c3.min.js"></script>
    <script src="../scripts/lib/angular/angular.js"></script>
    <script src="../scripts/lib/c3/c3-angular.min.js"></script>
    <script src="../scripts/lib/angular/angular-route.min.js"></script>
    <script src="../scripts/lib/angular/angular-messages.js"></script>
    <script src="../scripts/lib/angular/angular-animate.min.js"></script>
    <script src="../scripts/lib/angular/angular-aria.min.js"></script>
    <script src="../scripts/lib/angular/angular-material.js"></script>
    <script src="../scripts/lib/angular/angular-datepicker.min.js"></script>

    <script src="../scripts/lib/toaster/toaster.min.js"></script>
    <script src="../scripts/lib/moment/angular-moment.min.js"></script>
    <script src="../scripts/lib/ng-table/ng-table.min.js"></script>

    <script src="../scripts/canvasjs.min.js"></script>
    <script src="../scripts/Chart.min.js"></script>

    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
    






    <script src="../app.js"></script>
    <script src="../Controllers/logInController.js"></script>
    <script src="../Controllers/suppliersController.js"></script>
    <script src="../Controllers/transactionsController.js"></script>
    <script src="../Controllers/billController.js"></script>
    <script src="../Controllers/usersController.js"></script>
    <script src="../Services/BillService.js"></script>
    <script src="../Services/GlobalService.js"></script>
    <script src="../Services/TransactionService.js"></script>
    <script src="../Services/LogInService.js"></script>
    <script src="../Services/UserService.js"></script>
    <script src="../Services/ClientService.js"></script>
    <script src="../Services/SupplierService.js"></script>
    <script src="../Services/ProfitService.js"></script>
    <script src="../Controllers/suppliersController.js"></script>
    <script src="../Controllers/clientsController.js"></script>
    <script src="../Controllers/deleteUserController.js"></script>
    <script src="../Controllers/MenuController.js"></script>
    <script src="../Controllers/payTransactionController.js"></script>
    <script src="../Controllers/profitsController.js"></script>
    <script src="../Controllers/updateUserController.js"></script>
    <script src="../Controllers/updateClientController.js"></script>
    <script src="../Controllers/updateSupplierController.js"></script>
    <script src="../Controllers/deleteClientController.js"></script>

</head>
<body >
    <div id="wrapper">


        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="MenuController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" src="fonts/icon.ico" href="#/main">Todo pagos</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"> </i> <span ng-model="userName"></span> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li ng-hide="!logged">
                            <img src="../images/avatar.png" class="w3-circle w3-margin-right" style="width:46px">
                            Hola {{userName}}
                        </li>

                        <li ng-hide="logged">
                            <a href="#/login"><i class="fa fa-sign-in fa-fw"></i> Iniciar Sesion </a>
                        </li>


                        <li class="divider"></li>

                        <li ng-hide="!logged" ng-click="logOut()">
                            <a href="#/"><i class="fa fa-sign-out fa-fw"></i>Cerrar Sesion</a>

                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse"">

                    <div id="iniciar-sesion" ng-hide="logged">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="#/login"><i class="fa fa-sign-in fa-fw"></i> Iniciar Sesion </a>
                            </li>
                        </ul>
                    </div>
                   
                    <div id="sesion=iniciada" ng-hide="!logged">

                    <div id="administrator" ng-hide="!isAdmin">
                        <ul class="nav" id="side-menu">

                            <li >
                                <a href="#/adminSuppliers"><i class="fa fa-sign-in fa-fw"></i>Administrar proveedores </a>
                            </li>

                            <li>
                                <a href="#/adminUsers"><i class="fa fa-sign-in fa-fw"></i> Administrar Usuarios </a>
                            </li>

                            <li>
                                <a href="#/profits"><i class="fa fa-sign-in fa-fw"></i> Consultar Ganancias </a>
                            </li>

                            <li>
                                <a href="#/addTransaction"><i class="fa fa-sign-in fa-fw"></i> Realizar un pago </a>
                            </li>

                            <li>
                                <a href="#/adminClients"><i class="fa fa-sign-in fa-fw"></i> Administrar clientes  </a>
                            </li>

                            <li ng-click="logOut()">
                                <a href="#/"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                            </li>
                        </ul>
                    </div>

                    <div id="no-administator" ng-hide="isAdmin">

                        <ul class="nav" id="side-menu">

                            <li>
                                <a href="#/addTransaction"><i class="fa fa-sign-in fa-fw"></i> Realizar un pago </a>
                            </li>

                            <li>
                                <a href="#/profits"><i class="fa fa-sign-in fa-fw"></i> Consultar Ganancias </a>
                            </li>

                            <li>
                                <a href="#/addClient"><i class="fa fa-sign-in fa-fw"></i> Registrar cliente </a>
                            </li>

                            <li ng-click="logOut()">
                                <a href="#/"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                            </li>
                        </ul>
                    </div>

                    </div>




                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" style="background-color:lightgray">
            <div ng-view></div>
        </div>

    </div>

</body>
</html>